<div class="card shadow-lg bg-white rounded mt-5">
  <div class="card-title mb-0 border-top-0 border-right-0 border-left-0 border">
    <div class="p-3 bg-light text-dark">Sign Up! - Reactive</div>
  </div>
  <div class="card-body">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="FirstName" class="col-sm-3 col-form-label"
          >First Name</label
        >
        <div class="col-sm-7">
          <input
            type="text"
            placeholder="First Name (required)"
            formControlName="firstName"
            class="form-control"
            [ngClass]="{
              'form-control': true,
              'is-invalid':
                signUpForm.controls.firstName.invalid &&
                signUpForm.controls.firstName.touched
            }"
            id="FirstName"
          />
          <div
            [hidden]="
              signUpForm.controls.firstName.valid &&
              signUpForm.controls.firstName.untouched
            "
            class="invalid-feedback"
          >
            <span *ngIf="signUpForm.controls.firstName.errors?.required">
              Please Enter First Name.
            </span>
            <span *ngIf="signUpForm.controls.firstName.errors?.minlength">
              First Name must be longer than 3 characters.
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="LastName" class="col-sm-3 col-form-label">Last Name</label>
        <div class="col-sm-7">
          <input
            type="text"
            placeholder="Last Name (required)"
            formControlName="lastName"
            [ngClass]="{
              'form-control': true,
              'is-invalid':
                signUpForm.controls.lastName.invalid &&
                signUpForm.controls.lastName.touched
            }"
            id="LastName"
          />
          <div
            [hidden]="
              signUpForm.controls.lastName.valid &&
              signUpForm.controls.lastName.untouched
            "
            class="invalid-feedback"
          >
            Please Enter Last Name.
          </div>
        </div>
      </div>
      <ng-container formGroupName="emailGroup">
        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-7">
            <input
              type="email"
              placeholder="Email (required)"
              formControlName="email"
              [ngClass]="{
                'form-control': true,
                'is-invalid': emailMessage
              }"
              id="email"
            />
            <span *ngIf="emailMessage" class="invalid-feedback">
              {{emailMessage}}
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="Confirm Email" class="col-sm-3 col-form-label"
            >Confirm Email</label
          >
          <div class="col-sm-7">
            <input
              type="email"
              placeholder="Confirm Email (required)"
              formControlName="confirmEmail"
              [ngClass]="{
                'form-control': true,
                'is-invalid': signUpForm.get('emailGroup').errors?.match
              }"
              id="Confirm Email"
            />
            <div class="invalid-feedback">
              <span *ngIf="signUpForm.get('emailGroup').errors?.match"
                >Emails don't match</span
              >
            </div>
          </div>
        </div>
      </ng-container>
      <div class="form-group row">
        <label for="phone" class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-7">
          <input
            type="phone"
            placeholder="Phone"
            formControlName="phone"
            [ngClass]="{
              'form-control': true,
              'is-invalid':
                signUpForm.controls.phone.invalid &&
                signUpForm.controls.phone.touched
            }"
            id="phone"
          />
          <div
            [hidden]="
              signUpForm.controls.phone.valid &&
              signUpForm.controls.phone.untouched
            "
            class="invalid-feedback"
          >
            Please Enter phone.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="notification" class="col-sm-3 col-form-label"
          >Notify By</label
        >
        <div class="col-sm-7">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="Email"
              value="Email"
              formControlName="notificationType"
            />
            <label class="form-check-label" for="Email">
              Email
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="Phone"
              value="Phone"
              formControlName="notificationType"
            />
            <label class="form-check-label" for="Phone">
              Phone
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="rating" class="col-sm-3 col-form-label">Rating</label>
        <div class="col-sm-7">
          <input
            type="number"
            formControlName="rating"
            [ngClass]="{
              'form-control': true,
              'is-invalid':
                signUpForm.get('rating').invalid &&
                signUpForm.get('rating').touched
            }"
            id="rating"
          />
          <div class="invalid-feedback">
            <span *ngIf="signUpForm.get('rating').errors?.range">
              Please rate your exp from 1 to 5.
            </span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="catalog"
              formControlName="catalog"
            />
            <label class="form-check-label" for="catalog">
              Send me your catalog
            </label>
          </div>
        </div>
      </div>

      <div [hidden]="!signUpForm.controls.catalog.value" class="row">
        <fieldset class="form-group col-sm-12">
          <div class="row">
            <legend class="col-form-label col-sm-3 pt-0">Address Type</legend>
            <div class="col-sm-7">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="Home"
                  value="Home"
                  formControlName="addressType"
                />
                <label class="form-check-label" for="Home">
                  Home
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="Work"
                  value="Work"
                  formControlName="addressType"
                />
                <label class="form-check-label" for="Work">
                  Work
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="Other"
                  value="Other"
                  formControlName="addressType"
                />
                <label class="form-check-label" for="Other">
                  Other
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group col-sm-12">
          <div class="row">
            <label for="streetAdd1" class="col-sm-3 col-form-label"
              >Street Address 1</label
            >
            <div class="col-sm-7">
              <input
                type="text"
                placeholder="Street Address"
                formControlName="addressOne"
                class="form-control"
                id="streetAdd1"
              />
            </div>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <div class="row">
            <label for="streetAdd2" class="col-sm-3 col-form-label"
              >Street Address 2</label
            >
            <div class="col-sm-7">
              <input
                type="text"
                placeholder="Street address (second line)"
                formControlName="addressTwo"
                class="form-control"
                id="streetAdd2"
              />
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <div class="row">
            <label class="col-sm-3 col-form-label">City, State, Zip Code</label>
            <div class="col-sm-7">
              <div class="form-row">
                <div class="col">
                  <input
                    type="text"
                    placeholder="City"
                    formControlName="city"
                    class="form-control"
                  />
                </div>
                <div class="col">
                  <input
                    type="text"
                    placeholder="State"
                    formControlName="state"
                    class="form-control"
                  />
                </div>
                <div class="col">
                  <input
                    type="text"
                    placeholder="zip"
                    formControlName="zip"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-7 offset-sm-3">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="signUpForm.invalid"
          >
            Sign Up
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Pristine {{ signUpForm.pristine }}</p>
    <p>dirty {{ signUpForm.dirty }}</p>
    <p>touched {{ signUpForm.touched }}</p>
    <p>untouched {{ signUpForm.untouched }}</p>
    <p>Valid {{ signUpForm.valid }}</p>
    <p>invalid {{ signUpForm.invalid }}</p>
  </div>
  <div class="col">
    <pre>  {{ signUpForm.value | json }}</pre>
  </div>
</div>
